{{> head}}
  <body class='app-contact'>
    {{> header}}

    <div class='wrapper'>
      <h1>Get In Contact</h1>

      <section class='contact'>
        <aside class='details'>
          <h2>Contact Details</h2>
          <address>
            Carriden Church,<br>
            Bo'ness,<br>
            West Lothian,<br>
            EH51 9LU
          </address>

          <p><a class='helper link' href='https://www.google.co.uk/maps/place/Carriden+Parish+Church/@56.0143696,-3.5773321,17z' target="_blank"><i class='fa fa-external-link'></i> View On Google Maps</a></p>
        </aside>

        <form class="form" action="/contact" method="post">
          <h2>Enquiries</h2>
          {{#if message}}
            <p class='alert alert--success'>Success! Your message has been sent </p>
          {{/if}}
          <div class='form-group'>
            <label for="name">Your Name <span>*</span></label>
            <input required type='text' name='name' id='name' />
          </div>

          <div class='form-group'>
            <label for="email">Your Email <span>*</span></label>
            <input required type='text' name='email' id='email' />
          </div>

          <label for="message">Your Message <span>*</span></label>
          <textarea required name="message" rows="8" cols="80"></textarea>

          <button type="submit" class='button button--simple' name="">Send</button>
        </form>
      </section>

      <section class='contacts' id='contacts'>
      <h2>Important Contacts</h2>

      {{#each page.contacts}}
        <div class='person'>
          <p class='person__name'>{{this.fields.name}}</p>
          <p class='person__position'>{{this.fields.position}}</p>
          <address>
            {{marked this.fields.address}}
          </address>
          <p class='person__tel'><a href='tel: {{this.fields.telephone}}'>{{this.fields.telephone}}</a></p>
          <p class='person__email'><a href='mailto:{{this.fields.email}}'>{{this.fields.email}}</a></p>
        </div>
      {{/each}}
      </section>
    </div>

{{> footer}}
