<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation</title>

    <style>
        body{background:#eee;font-family: 'Helvetica', 'Arial', sans-serif; color:#333;}
        .wrapper{margin:0 auto;background:#fff;border-collapse: collapse;padding:0 0 30px;border-bottom:5px solid #333}
        .footer{margin:20px auto;border-collapse: collapse;padding:0 0 30px;text-align: left;font-size:14px; color:#aaa;}
        .header{background:#333333;color:#fff;text-align: left;}
        .header td{padding:20px 20px}
        .title{text-align: center;font-weight:lighter;font-size:24px;margin:40px 0}
        .address{padding:20px}
        .orderref{font-size:14px;text-align: right}
        a{color:#2196F3}

        .cart{padding:0 20px;}
        .cart table{padding:0 20px; text-align: left; width:100%;border-collapse: collapse;}
        .cart tr, .cart td{padding:10px}
        .cart tr:nth-of-type(odd){background:#eee}
        .cart table thead tr{background:#fff !important;font-weight:bold;}
    </style>
</head>
<body>
    <table width="600px" class='wrapper'>
        <tr>
          <td colspan='2'>Can't see this email properly? <a href='http://brodiecrafts.co.uk/email/confirmation/{{order.id}}'>View In Browser</a></td>
        </tr>
        <tr class='header'>
            <td>
                <a href='http://brodiecrafts.co.uk' target="_blank"><img src="http://brodiecrafts.co.uk/logos/header.png" alt=""></a>
            </td>
            <td style='vertical-align: middle'>
                <p class='orderref'>Order Reference: BR{{order.id}}</p>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h1 class='title'>Hey {{order.f_name}}, Thanks For <br>Your Order!</h1>
                <p style='padding:0 20px'>Below you can find all the information for your order, please get in touch if you have any questions.</p>
            </td>
        </tr>

        <tr>
            <td class='address'>
                <p><strong>Shipping Address</strong></p>
                <p>
                    {{order.shipping_address_1}}, <br>
                    {{order.shipping_address_2}}, <br>
                    {{order.shipping_city}}, <br>
                    {{order.shipping_postcode}}
                </p>
            </td>

            <td class='address'>
                <p><strong>Billing Address</strong></p>
                <p>
                    {{order.billing_address_1}}, <br>
                    {{order.billing_address_2}}, <br>
                    {{order.billing_city}}, <br>
                    {{order.billing_postcode}}
                </p>
            </td>
        </tr>

        <tr>
            <td colspan="2" style='padding:0 20px'>
                <p><strong>Order Details</strong></p>
            </td>
        </tr>

        <tr class='cart'>
            <td colspan="2" style='padding:0 20px;'>
                <table>
                    <thead>
                        <tr>
                            <td>Product</td>
                            <td>Quantity</td>
                            <td>Price</td>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each products}}
                            <tr>
                                <td>{{this.product_name}}</td>
                                <td>{{this.quantity}}</td>
                                <td>{{formatPrice this.sold_price}}</td>
                            </tr>
                        {{/each}}
                        <tr><td colspan="3">&nbsp;</td></tr>
                        <tr><td colspan="3">&nbsp;</td></tr>
                        <tr>
                          <td></td>
                          <td>SubTotal</td>
                          <td>{{formatPrice order.order_subtotal}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>VAT <small>(Included In Price)</small></td>
                          <td>{{formatPrice order.vat}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>Shipping Cost</td>
                          <td>{{formatPrice order.order_shipping}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>Total Cost</td>
                          <td>{{formatPrice order.order_total}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
    </table>

  <table class='footer' width='600px'>
    <tr>
      <td>Copyright &copy; {{year}} BrodieCrafts</td>
      <td style='text-align: right'>Email: <a href='mailto:{{CONFIG.contactEmail}}'>{{CONFIG.contactEmail}}</a></td>
    </tr>
  </table>
</body>
</html>